* {
    
    box-sizing: border-box;
    position: relative;
  }


  

  body{
    overflow-x:hidden ;
  }


  nav{
    max-width: 1100px;
    margin: 0 auto;
  }
  
  nav .container-hamburger {
    display: none;
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
  }
  
  nav ul {
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 0;
  }
  
  nav ul > * {
    display: block;
  }
  
  nav .container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap;
    
  }
  
  nav .container-menu {
    overflow: hidden;
  }
  
  nav.collapse {
    min-height: 30px;
  }
  
  @media (max-width: 45em) {

    .container-button__nav{
      display: none;
    }

    nav .collapse {
      height: 0px;
      right: 0;
      top: 0;
    }
  
    nav .container-hamburger {
      display: block;
    }
  
    nav .container-hamburger > * {
      height: 100%;
      position: absolute;
      top: 15px;
      right: 20px
    }
  
    nav .container-nav {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav .container-menu ul {
      margin: 30px 0;
    }
  }
  