@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

.mob{
    display: none;
    position: absolute;
    
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    scale: 0.4;
}

.icons .container{
    scale: 1;
    transition: 0.3s all ease-in-out;
}

.icons .container:hover{
    scale: 1.5;
}

#screen{
    min-height: 100vh;
    
    background: linear-gradient(#061437, black);
    position: relative;
    overflow: hidden;
   
}

#screen .car{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    mix-blend-mode: exclusion;
    opacity: 0.9;  
}

#screen .navigator{
    padding-top: 40px;
}

#screen .icons{
    text-align: center;
    max-width: 1100px;
    position: absolute;
    bottom: 100px;
    left:0;
    right: 0;
    margin: 0 auto;
}

.icons h4{
    font-size: 1rem;
    color: white;
    opacity: 0.2;
    margin-top: 5px;
}

.icons p{
    font-size: 1.1rem;
    color: white;
    margin-top: -10px;
}

@media (max-width: 912px){

    .mob{
        display: block;
    }

    #screen .icons{ 
        
        display: flex;
        flex-wrap: wrap;
        
        padding-top: 80px;
        position: absolute;
        bottom: -120px;
        transition: 0.5s all;
    }

    #screen .icons:hover{ 
        bottom: 0;
    }

    #screen .icons .container{
        max-width: 100px;
    }
}

@media (max-width: 698px){
    #screen .icons{ 
        background: linear-gradient(rgba(0, 0, 0, 0.041), #01040c);
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        padding-top: 80px;
        position: absolute;
        bottom: -230px;
    }

    #screen .icons:hover{ 
        bottom: 0;
    }

}

@media (max-width: 414px){
    #screen .icons{       
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        padding-top: 80px;
        position: absolute;
        bottom: -230px;
    }

    #screen .icons:hover{ 
        bottom: 0;
    }

    .car{
        transform: scale(2);
    }

}


@media (max-width: 393px){
    #screen .icons{    
        bottom: -340px;
    }

    #screen .icons:hover{ 
        bottom: 0;
    }
}



@media (max-width: 375px){
    #screen .icons{      
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        padding-top: 80px;
        position: absolute;
        bottom: -340px;
    }

    #screen .icons:hover{ 
        bottom: 0;
    }
}